---
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
BasedOnStyle: Mozilla
BraceWrapping:
  AfterNamespace: false
  AfterClass: true
  AfterEnum: false
  AfterExternBlock: false
  AfterFunction: true
  AfterStruct: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
BreakBeforeBraces: Custom
Cpp11BracedListStyle: true
FixNamespaceComments: true
IndentCaseLabels: false
IndentPPDirectives: AfterHash
KeepEmptyLinesAtTheStartOfBlocks: false
SpacesInContainerLiterals: false
StatementMacros:
  - LILV_API
  - LILV_DEPRECATED
  - SERD_API
  - SERD_DEPRECATED_BY
  - SRATOM_API
  - ZIX_API
  - ZIX_CONST_API
  - ZIX_CONST_API
  - ZIX_MALLOC_API
  - ZIX_PURE_API
  - ZIX_UNUSED
  - _Pragma
ForEachMacros:
  - FOREACH_MATCH
  - FOREACH_PAT
  - LILV_FOREACH
  - LV2_ATOM_OBJECT_BODY_FOREACH
  - LV2_ATOM_OBJECT_FOREACH
  - LV2_ATOM_SEQUENCE_BODY_FOREACH
  - LV2_ATOM_SEQUENCE_FOREACH
  - LV2_ATOM_TUPLE_BODY_FOREACH
  - LV2_ATOM_TUPLE_FOREACH
...
