[submodule "serd"]
	path = subprojects/serd
	url = ../../drobilla/serd.git
[submodule "lv2"]
	path = subprojects/lv2
	url = ../lv2.git
[submodule "lilv"]
	path = subprojects/lilv
	url = ../lilv.git
[submodule "sratom"]
	path = subprojects/sratom
	url = ../sratom.git
[submodule "suil"]
	path = subprojects/suil
	url = ../suil.git
[submodule "sord"]
	path = subprojects/sord
	url = ../../drobilla/sord.git
[submodule "subprojects/exess"]
	path = subprojects/exess
	url = git@gitlab.com:drobilla/exess.git
[submodule "subprojects/rerex"]
	path = subprojects/rerex
	url = git@gitlab.com:drobilla/rerex.git
