[submodule "serd"]
	path = libs/serd
	url = ../../drobilla/serd.git
[submodule "lv2"]
	path = libs/lv2
	url = ../lv2.git
[submodule "lilv"]
	path = libs/lilv
	url = ../lilv.git
[submodule "sratom"]
	path = libs/sratom
	url = ../sratom.git
[submodule "suil"]
	path = libs/suil
	url = ../suil.git
[submodule "waflib"]
	path = waflib
	url = ../../drobilla/autowaf.git
[submodule "sord"]
	path = libs/sord
	url = ../../drobilla/sord.git
