[submodule "serd"]
	path = subprojects/serd
	url = ../../drobilla/serd.git
[submodule "lv2"]
	path = subprojects/lv2
	url = ../lv2.git
[submodule "lilv"]
	path = subprojects/lilv
	url = ../lilv.git
[submodule "sratom"]
	path = subprojects/sratom
	url = ../sratom.git
[submodule "suil"]
	path = subprojects/suil
	url = ../suil.git
